services:
  postgres:
    image: postgres:18.0-alpine
    container_name: db
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: rootpassword
      POSTGRES_DB: url_shortener
      PG_DATA: /var/lib/postgresql/data/pgdata

  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - "8000:8080"
